<div class="container">
    <section>
        <div class="jumbotron">
            <h1> About iDay.ch</h1>
            <p> This sit is mainly made to serve the residents of Switzerland. The services offered here are mainly sevrving
                the Swiss commuters.
            </p>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">


                <h2>The Services provided here</h2>
            </div>
            <div class="panel-body">

                <p> The following Services are provided in this website:
                    <ul>
                        <li>Public transportation Station Board.</li>
                        <li>Public transportation Connection Board.</li>
                        <li>Swiss weather station readings.</li>
                        <li>City Weather forecast (International).</li>
                    </ul>
                    More about how to use these features <a href="#!/HowToUse"> iday.ch/#!/HowToUse </a> 
                </p>
            </div>
    </section>
    </section>
    </div>