

<section class="container">
    <h1> This guide explains some tips about using the "iDay.ch" site.</h1>

    <section>
        <h2>The Services provided here</h2>
        <p> The following Services are provided in this website:
            <ul>
                <li>Public transportation Station Board</li>
                <li>Public transportation Connection Board</li>
                <li>Swiss weather station readings</li>
                <li>City Weather forecast (International) </li>
            </ul>
        </p>
        <h2>
            The main edge (advantages) of using this web site are:
        </h2>
        <p>
            <ul>
                <li>Usability: Bookmarks allow easy access of the <b>frequentyl</b> used data.</li>
                <li>Fast loading of the data (technical yada-yada)</li>
                <li>Bookmarks are sharable accross messaging apps.</li>
                <li>No need for registration to use this site (keep your email private).</li>
                <li>Web-Responsive: works great on destop, notebook, tablet and phone screens</li>
            </ul>
        </p>
    </section> 
    

    <section>
        <h2>Public transportation Station Board</h2>
        <p> A simple information Board for a specific bus station.
            showing all lines going through this station with line number, final destination (direction), 
            time and how much time left.
            The board also blinks those connections with less than 60 seconds of remaining time.
            The borad displays only the connections in the future time (old ones are removed automatically).
            It refreshes itself every two minutes.  
            </p>
    </section> 

    <section>
        <h2>Public transportation Connection Board</h2>
        <p> A simple information Board for a specific connection.
            The input is simple: FROM, TO and a label you want to give your connection (examples: Home2Work , Home2Bhf , Bern_Zurich ,.. etc)
            These labels are available for quick accees.
            You dont have to create two connection "Home2Work" and another "Work2Home", just one and then when you need the opposite direction, click the "<<" button.
            The board also blinks those connections with less than 60 seconds of remaining time.
            The borad displays only the connections in the future time (old ones are removed automatically).
            It refreshes itself every two minutes.  
            </p>
    </section> 

    <section>
        <h2>Swiss weather station readings</h2>
        <p>  The data of the weather stations in switzerland is available for the public.
            the data is updated every 10 minutes.
            It refreshes itself every ten minutes.  
            </p>
    </section> 

    <section>
        <h2>City Weather forecast (International)</h2>
        <p>  This feature is only available if you have your own openweather.com key.
            you can <a href="http://openweathermap.org/appid">get your own API Key</a> by email registeration.  
            </p>
    </section>

    <section>
        <h2>On your Mobile</h2>
        <img src="https://developer.chrome.com/multidevice/images/home_add.png" height="20%" width="20%" />
        <p>Although "iDay.ch" is so far a website, never the less you can save it as a "Home screen App".
            On your device's web browser navigate to "iDay.ch" and then chose your connection or station board.
            Then click the menu button in your browser and chose "Add to Home screen".
            This will store a sort of "Bookmark" on your phone's home screen.
            you can click it any time and enjoy the full screen experience. 
            </p>
    </section> 

    <section>
        <h2>On the Desktop</h2>
        <p> You are at the closing of the working day.
            And you need a spontanious tool to check your next connection to home.
            "iDay.ch" has the bookmark from Home to Work connection. 
            you click on it and then you click the "Backward"/"Replay" button which flips staring and destination.
        </p>
        <p> You just need a your-own-personal-self-updating-near-by-station-board  
        </p>
    </section> 

    <section>
        <h2>Information Radiator</h2>
        <p>
            A station board at malls , shopping centers , office buildings or Homes to show the near-by station traffic.
            (ask your facility manager).
            Do I hear someone saying, "thats the perfect use of my old tablet/laptop/desktop/Screen/TV" ?
            Maybe even a good-use of a "RasperryPI" project.
        </p>
    </section>

    <section>
        <h2>On your mobile in the Morning</h2>
        <p>You are rushing in the mornig from home to work. 
            you need a quick info wether at this time: 
                Bus 11 then the train OR Bus 12 and then line 40 is a faster connection.</p>
    </section> 

    <section>
        <h2>Share the link displayed in the app to share the connection data</h2>
        <p>
            Your friend is visiting you the first time and he bearly knows the city you are in.
            Share the URL in your browser for the Bahnhof to your nearby station on the messaging app with him/her.
        </p>
    </section> 

    <section>
        <h2>Adding and Removing Bookmarks</h2>
        <p> To add, use the corresponding "Add" button.
            To Remove, click the small garbage-bin icon next to the bookmark.
            No questions, no confirmation.
            </p>
    </section> 
    
    <section>
        <h2>Your Data</h2>
        <p>
            You don't need to register to use this page.
        </p>
    </section> 
</section>