<section style="padding-left: 0;padding-right: 0;width:100%" id="board">
<div role="tabpanel" class="tab-pane" id="{{stationName}}">
	<div class="panel panel-success  fw" >
		<!-- Default panel contents -->
		<div class="panel-heading text-center">
			<h4 class="animated bounce display-5 "><i class="fa fa-bus" aria-hidden="true"></i> {{stationName}}    {{currDateTime |  amDateFormat:'HH:mm:ss'}} </h4>
		</div>
		<div class="panel-body container-fluid">
					<div class="table-responsive">
						<table class="table table-condensed table-striped">
							<tr class="info text-center" >
								<!--th style="text-align:center">INDEX</th-->
								<th class="text-center">TYPE</th>
								<th class="text-center"><i class="fa fa-subway" aria-hidden="true"></i></th>
								<th class="text-center">Direction</th>
								<!--th>departureTimestamp</th-->
								<th class="text-center"><i class="fa fa-clock-o" aria-hidden="true"></i></th>
								<th class="text-center"><i class="fa fa-hourglass-half" aria-hidden="true"></i></th>
								<!--th style="text-align:center">Delay</th-->
							</tr>
							<tr  ng-repeat="x in FromStationName.stationboard" 
								ng-class="{bounceOut: !(x | isFutureStationDeparture) , bounceIn: (x | isFutureStationDeparture) }"
								class="animated"
								ng-show="x | isFutureStationDeparture"
								ng-hide=" !(x | isFutureStationDeparture)"
								>
								<!--td style="text-align:center">{{$index + 1}}</td-->
								<td class="text-center" >{{x.category}}</td>
								<td class="text-center">{{x.number}}</td>
								<td style="text-align:left">{{x.to}}</td>
								<td class="text-center">
									{{x.stop.departureTimestamp | amFromUnix | amDateFormat:'HH:mm'}}
									<span ng-if="x.stop.delay"> &nbsp;+{{x.stop.delay}} </span>
								</td>
								<td class="text-center animated infinite "
									ng-class="{jello : (x.stop.departureTimestamp - moment(currDateTime).unix())<60}"
									>
									<span 										
										am-time-ago="x.stop.departureTimestamp | amFromUnix | amParse:'YYYY.MM.DD HH:mm:ss'">
									</span>
									<!--
									<br/>									
									<span>{{ x.stop.departureTimestamp - moment(currDateTime).unix()  }}</span>									
									-->
								</td>
							</tr>
						</table>
					</div>
		</div> <!-- panel body -->


		<div class="panel-footer  panel-primary text-center">
      Data fetched from transport.opendata.ch
    </div>
	</div>
</div>
</div>
